<!-- Cabecera  -->
<div class="title-group">
  <h1 class="mat-h1">Añadir Persona</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Formulario -->
<div class="inner-wrapper">
  <form (ngSubmit)="submitPersonaForm()" #myForm="ngForm">
    <!-- Bloque izquierdo -->
    <mat-card>

      <!-- Nombre -->
      <mat-form-field>
        <input matInput placeholder="Nombre" [(ngModel)]="nombre" id="nombre" name="nombre"
          minlength="3"  required > 
      </mat-form-field>

     <!-- Apellidos -->
     <mat-form-field>
      <input matInput placeholder="Apellidos" [(ngModel)]="apellidos" id="apellidos" name="apellidos"
        minlength="3" required>
    </mat-form-field>
    <br>

      <!-- Color -->
      <mat-form-field>
        <input matInput placeholder="Color" [(ngModel)]="color" id="color" name="color"
          minlength="3" required>
      </mat-form-field>

    </mat-card>

    <!-- Bloque derecho -->
    <mat-card>
      <div class="controlers-wrapper">

         <!-- Edad -->
      <mat-form-field>
        <input matInput type="number" placeholder="Edad (use las flechas)" [(ngModel)]="edad" id="edad" name="edad"
          min="0" max="125" onkeydown="return false" required>
      </mat-form-field>

        <!-- Cumpleaños -->
        <mat-form-field>
          <input matInput readonly [matDatepicker]="picker" placeholder="Fecha de cumpleaños" [(ngModel)]="dob" id="dob"
            name="dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <!-- Género -->
        <div class="misc-bottom-padding">
          <div class="gender">
          <mat-label>Género:</mat-label>
          <mat-select [(value)]="gender" required>
            <mat-option value="Hombre">Hombre</mat-option>
            <mat-option value="Mujer">Mujer</mat-option>
            <mat-option value="Otro">Otro</mat-option>
            <mat-option value="No especificado">No especificado</mat-option>
          </mat-select>
        </div>
          <!-- DNI -->
      <mat-form-field>
        <input matInput placeholder="DNI" [(ngModel)]="_id" id="_id" name="_id"
        pattern="[a-zA-Z0-9-]{9}" required>
      </mat-form-field>
      <br>

          <!-- Notas -->
    <mat-form-field>
      <input matInput placeholder="Notas" [(ngModel)]="notas" id="notas" name="notas"
        required>
    </mat-form-field>
        </div>

      </div>
    </mat-card>



    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-raised-button color="primary" [disabled]="myForm.form.invalid" type="submit">Submit</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>